* {
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background-image: url("assets/img/lista.jpeg");
     background-size: cover;      /* cobre toda a área */
  background-position: center; /* centraliza */
  background-repeat: no-repeat;
  height: 600px;
}
.container{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #b3c78c;
    background-color: rgba(255, 255, 255, 0.6); /* branco com 60% opacidade */
  border-radius: 10px;
  margin-top: 120px;
  font-size: 16px;
} 


